html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  top: 70%;
  left: 50%;
  position: fixed;
}



.loading {
  width: 100vw;
  left: 10px;
  text-align: center;
  font-size: 9px;

}

.continue {
  position: absolute;  
  margin: 0;
  left: 590px;
  bottom: 287px;
  font-size: 9px;
  color: black;
}


